<% provide(:title, "ユーザー") %>

<h3>ユーザー</h3>

<% @users.each do |user| %>
  <%= link_to(admins_user_path(user)) do %>
    <%= image_tag asset_path(user.profile_picture) %>
    <%= user.name %>
  <% end %>
<% end %>
<%= paginate @users %>
