<% provide(:title, "Best-Labとは") %>

  <h2>Best-Labとは</h2>

  <h4>Best-Labは、大学生が研究室に配属される際のミスマッチをなくすサービスです。</h4>
  <h5>大学生の場合：自分が興味のある研究室の先輩とお話できます。</br>
      大学院生の場合：自分の研究室にマッチしそうな大学生とお話できます。</h5>

  <p>大学生として体験！</p>
  <p>大学院生として体験！</p>
  <%= link_to "新規登録", new_user_registration_path %>

  <h5>交流する相手は誰でも構いません</h5>

  <h5>検索機能を使って自分にピッタリの相手を探せます</h5>

  <h5>カレンダーを使ってスケジュール管理ができます</h5>