<% provide(:title, "メッセージ") %>

<div class="user-list">
  <h4>メッセージ</h4>

  <% if @another_entries.blank? %>
    <p>話したい相手を探してみましょう！</p>
  <% end %>

  <% @sorted_entries&.each do |entry| %>
    <%= link_to(users_room_path(entry.room)) do %>
      <div class="user-list__info">
        <div class="user-list__user-info">
          <div class="user-list__image">
            <%= image_tag asset_path(entry.user.profile_picture) %>
          </div>
          <div class="user-list__text">
            <h5><%= entry.user.name %></h5>
            <% if entry.room.check_notice(current_user) == true %>
              <div class="user-list__notice">
                <p class="has-notice"></p>
                <p>新着のメッセージがあります</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="user-list__post-info">
          <%# 最後にメッセージした時間を表示 %>
          <% if entry.room.messages.present? %>
            <%= l entry.room.messages.last.created_at, format: :default %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
