<% provide(:title, "メッセージ") %>

<div class="room-list">
  <h4>メッセージ</h4>

  <% if @another_entries.blank? %>
    <p>話したい相手を探してみましょう！</p>
  <% end %>

  <% @sorted_entries&.each do |entry| %>
    <%= link_to(users_room_path(entry.room)) do %>
      <div class="room-list__info">
        <div class="room-list__image">
          <%= image_tag asset_path(entry.user.profile_picture) %>
        </div>
        <div class="room-list__text">
          <h5><%= entry.user.name %></h5>
          <%# 最後にメッセージした時間を表示 %>
          <% if entry.room.messages.present? %>
            <span><%= l entry.room.messages.last.created_at, format: :default %></span>
          <% end %>
          <% if entry.room.check_notice(current_user) == true %>
            <div class="room-list__notice">
              <p class="has-notice"></p>
              <p>新着のメッセージが届いています</p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
