@import "bootstrap-sprockets";
@import "bootstrap";

h1,h2,h3,h4,h5,h6,p,ul,li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  padding: 0;
  margin: 0 auto;
  width: 65%;
  background-color: silver;
}

//users/roomsフォルダ
//index
.room-list {
  border: 1.5px solid grey;
  background-color: silver;
  ul > li {
    padding: 5px;
    display: flex;
    border-bottom: 1px solid black;
    .room-list__image {
      img {
        width: 50px;
        border-radius: 50%;
        vertical-align: middle;
      }
    }
    .room-list__text {
      p {
        font-size: 14px;
      }
    }
  }
}
//show
.message-field {
  padding: 12px 40px;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid grey;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  .right-message {
    text-align: right;
    .message-field__content {
      flex-direction: row-reverse;
      &:before {
        content: "";
        position: absolute;
        top: 20%;
        right: 40px;
        border: 8px solid transparent;
        border-left: 8px solid #00BFFF;
      }
      .message-field__content--profile {
        margin-left: 15px;
      }
      .message-field__content--message {
        p {
          text-align: left;
        }
      }
    }
  }
  .left-message {
    text-align: left;
    .message-field__content {
      &:before {
        content: "";
        position: absolute;
        top: 20%;
        left: 40px;
        border: 8px solid transparent;
        border-right: 8px solid #00BFFF;
      }
      .message-field__content--profile {
        margin-right: 15px;
      }
    }
  }
  .message-field__content {
    padding: 0;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    vertical-align: middle;
    border-radius: 5px;
    word-wrap: break-word;
    .message-field__content--profile {
      margin-bottom: 8px;
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
    .message-field__content--message {
      padding: 8px;
      max-width: 80%;
      border-radius: 3px; 
      background-color: #00BFFF;
      p {
        margin: 0;
        font-size: 15px;
      }
      img {
        width: 80px;
        height: 100px;
      }
    }
  }
}
.post-field {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 0px 0px 5px 5px;
  .post-field__picture {
    label {
      margin: 0;
      vertical-align: middle;
      cursor: pointer;
      i {
        font-size: 22px;
      }
    }
  }
  .post-field__textarea {
    width: 80%;
    textarea {
      width: 100%;
      height: 2em;
      resize: none;
      overflow: hidden;
      border-radius: 5px;
      outline: none;
    }
  }
  .post-field__submit {
    button {
      border: none;
      background-color: transparent;
    }
    i {
      font-size: 22px;
      background-color: none;
    }
  }
}
.message-picture {
  margin-top: 14px;
  margin-bottom: 14px;
  text-align: center;
  .message-picture__operation {
    margin-top: 12px;
    .message-picture__operation--delete {
      display: inline;
      i {
        font-size: 25px;
      }
    }
  }
}
#picture-box {
  margin: 0 auto;
  width: 90%;
  display: flex;
  .message-picture {
    padding-top: 24px;
    padding-bottom: 16px;
    margin-left: 14px;
    width: 9%;
    background-color: #fff;
    border: 2px dotted grey;
    .message-picture__operation--delete {
      cursor: pointer;
      color: #347AB7;
    }
  }
}