@import "bootstrap-sprockets";
@import "bootstrap";

//message-room
.message-picture {
  margin-top: 14px;
  margin-bottom: 14px;
  text-align: center;
  .message-picture__operation {
    margin-top: 12px;
    .message-picture__operation--delete {
      display: inline;
      i {
        font-size: 25px;
      }
    }
  }
}
#picture-box {
  margin: 0 auto;
  width: 90%;
  display: flex;
  .message-picture {
    padding-top: 24px;
    padding-bottom: 16px;
    margin-left: 14px;
    width: 9%;
    background-color: #fff;
    border: 2px dotted grey;
    .message-picture__operation--delete {
      cursor: pointer;
      color: #347AB7;
    }
  }
}