@import 'bootstrap-sprockets';
@import 'bootstrap';

$color-black: rgb(46, 46, 46);
$color-grey: rgb(146, 165, 177);
$color-white: rgb(228, 237, 243);
$color-light-blue: rgb(229, 243, 255);
$color-blue: rgb(63, 169, 255);
$color-green: rgb(86, 198, 0);

html,
body {
  // コンテンツの内容に合わせて画面の高さを調整
  height: 100%;
}

.content {
  min-height: 100%;
  position: relative;
  // footerと同じ高さを下部に追加
  padding-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
ul,
li {
  padding: 0;
  margin: 0;
  color: $color-black;
}

li {
  list-style: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.notice-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.has-notice {
  background-color: red;
}

// layoutsフォルダ
// application
// ヘッダー
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 1px $color-white;
  nav {
    text-align: center;
    a {
      padding: 20px;
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      color: $color-black;
      &:hover {
        transition: color 0.3s;
        color: $color-blue;
        text-decoration: none;
      }
    }
    form {
      display: inline-block;
      &:hover {
        input {
          color: #fff;
          text-decoration: none;
        }
      }
      input {
        padding: 20px;
        background-color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 600;
        &:hover {
          transition: color 0.2s;
          color: $color-blue;
        }
      }
    }
  }
}

// フッター
footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  nav {
    height: 100px;
    padding-top: 15px;
    text-align: center;
    font-weight: 600;
    color: $color-grey;
    background-color: $color-white;
    a {
      display: inline-block;
      padding: 20px;
      color: $color-grey;
      font-size: 16px;
      &:hover {
        transition: color 0.2s;
        text-decoration: none;
        color: $color-black;
      }
    }
    form {
      display: inline-block;
      &:hover {
        input {
          color: #fff;
          text-decoration: none;
        }
      }
      input {
        padding: 20px;
        background-color: $color-white;
        border: none;
        font-size: 16px;
        font-weight: 600;
        &:hover {
          transition: color 0.2s;
          color: $color-black;
        }
      }
    }
    small {
      margin-top: 5px;
      display: inline-block;
      font-size: 14px;
      display: block;
    }
  }
}

// メインとサイドバーの設定
.yield {
  display: flex;
  max-width: 100%;
  padding: 115px 80px 50px;
  margin: 0 auto;
}

// メイン
#primary {
  width: 66%;
  padding: 36px 60px;
  border: solid 1px $color-white;
  border-radius: 12px;
  h4 {
    margin-bottom: 25px;
    font-size: 20px;
  }
  // ホバー時の下線を非表示
  a:hover {
    text-decoration: none;
  }
  // ページネーション
  nav {
    display: block;
    text-align: center;
    span {
      display: inline-block;
      min-width: 40px;
      line-height: 38px;
      margin-right: 3px;
      text-align: center;
      font-size: 16px;
      border: solid 1px $color-white;
      border-radius: 3px;
      &:hover {
        background-color: $color-blue;
        transition: background-color 0.2s;
        a {
          color: #fff;
          transition: color 0.2s;
        }
      }
    }
    a {
      display: block;
    }
    // 現在のページ
    .current {
      font-weight: 600;
      &:hover {
        // ホバーで色を変化させない
        color: $color-black;
        background-color: #fff;
      }
    }
    // 「最初」「最後」のデザイン
    .first,
    .last {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

// サイドバー
#secondary {
  width: 27%;
  margin-left: auto;
  h4 {
    margin-bottom: 25px;
    font-size: 20px;
  }
  // フォーム
  .field {
    margin-bottom: 18px;
    label {
      margin-bottom: 0;
      font-weight: normal;
    }
    .side-select-container {
      position: relative;
      width: 80%;
    }
    .side-select-container::after {
      // セレクトボックスに下向き矢印を追加
      content: '';
      position: absolute;
      width: 0px;
      height: 0px;
      border-top: solid 5px $color-black;
      border-right: solid 5px transparent;
      border-left: solid 5px transparent;
      border-bottom: solid 5px transparent;
      top: 55%;
      right: 5%;
      margin-top: -4px;
    }
    select,
    input {
      padding: 4px;
      border: solid 1px $color-white;
      border-radius: 4px;
      outline: none;
    }
    select {
      width: 100%;
      appearance: none; // セレクトボックスのデフォルトの下矢印を削除
    }
    input {
      width: 100%;
    }
  }
  .sidebar__for-users--top,
  .sidebar__for-users--bottom {
    padding: 18px 30px;
    border: solid 1px rgb(246, 249, 250);
    background-color: rgb(246, 249, 250);
    border-radius: 12px;
  }
  // プロフィール検索の詳細設定
  .sidebar__for-users--top {
    margin-bottom: 18px;
  }
}

// フォーム関連のパーツ
// 入力欄
.field {
  margin-bottom: 18px;
  label {
    margin-bottom: 0;
    font-weight: 600;
  }
  input {
    width: 100%;
    padding: 4px;
    margin-bottom: 12px;
    border: solid 1px $color-white;
    border-radius: 4px;
    outline: none;
  }
  // フォーム中のテキストエリアのデザイン
  textarea {
    width: 100%;
    height: 120px;
    padding: 5px;
    border: solid 1px $color-white;
    border-radius: 4px;
    // 右下の斜線を消す
    resize: none;
  }
  // セレクトボックス
  .select-container {
    position: relative;
    width: 80%;
    margin-bottom: 5px;
  }
  .select-container::after {
    // セレクトボックスに下向き矢印を追加
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: solid 5px $color-black;
    border-right: solid 5px transparent;
    border-left: solid 5px transparent;
    border-bottom: solid 5px transparent;
    top: 55%;
    left: 35%;
    margin-top: -4px;
  }
  select,
  input {
    padding: 4px;
    border: solid 1px $color-white;
    border-radius: 4px;
    outline: none;
  }
  select {
    width: 40%;
    appearance: none; // セレクトボックスのデフォルトの下矢印を削除
  }
}
// 送信、保存などのボタン
.actions {
  text-align: center;
  input {
    padding: 5px 30px;
    border: solid 1px $color-white;
    border-radius: 4px;
    background-color: $color-white;
    &:hover {
      transition: background-color 0.2s;
      background-color: $color-grey;
    }
  }
}
// アカウント削除用ボタン
.account-reset {
  margin-top: 100px;
  input {
    padding: 5px 30px;
    color: white;
    border: solid 1px rgb(255, 132, 131);
    border-radius: 4px;
    background-color: rgb(255, 132, 131);
  }
}

// 新規登録やログインなどの共通フォーム
.common-form {
  // 横幅いっぱいに広げる
  .common-form__container {
    margin: 0 auto; // 横幅を調整し中央に寄せる
    padding: 50px 30px;
    h4 {
      margin-bottom: 25px;
      font-size: 20px;
    }
    // 自動ログインのデザイン
    .remember-me {
      // チェックボックス
      #user_remember_me {
        width: 50px;
      }
    }
    // linksのデザイン
    .links-container {
      margin-top: 18px;
      a {
        display: inline-block;
        margin-top: 4px;
      }
    }
  }
}

// 検索結果画面
.search-result {
  .search-result__container {
    a {
      text-decoration: none;
    }
    h4 {
      margin-bottom: 25px;
      font-size: 20px;
    }
    .search-result__info {
      display: flex;
      padding: 12px;
      margin-bottom: 3px;
      border: solid 2px $color-white;
      border-radius: 6px;
      &:hover {
        border-color: $color-blue;
        transition: border-color 0.2s;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
    .search-result__info--right {
      padding-left: 12px;
    }
  }
}

// lp
.lp {
  padding-top: 115px;
  .lp-main {
    border-bottom: solid 1px $color-white;
    padding: 0px 0 50px;
    .lp-main__container {
      max-width: 960px;
      padding: 0 45px;
      margin: 0 auto;
      .lp-main__container--left {
        padding-top: 50px;
        .lp-main__subtitle {
          margin-bottom: 15px;
          font-size: 15px;
        }
        .lp-main__title {
          font-size: 60px;
        }
        .lp-main__slogan {
          margin-top: 60px;
          font-size: 30px;
        }
        .lp-main__guest-sign-in {
          margin-top: 50px;
          font-size: 16px;
          input {
            padding: 12px;
            color: white;
            background-color: $color-blue;
            border: solid 1px $color-white;
            border-radius: 5px;
          }
          input:hover {
            color: white;
            transition: background-color 0.2s;
            background-color: $color-green;
            border-color: $color-green;
          }
        }
      }
      .lp-main__container--right {
        img {
          width: 450px;
          height: 450px;
        }
      }
    }
  }
  .lp-sub {
    background-color: $color-light-blue;
    padding: 100px 0;
    .lp-sub__container {
      width: 72%;
      margin: 0 auto;
      text-align: center;
      .lp-sub__title {
        font-size: 30px;
        margin-bottom: 10px;
      }
      .lp-sub__subtitle {
        font-size: 16px;
      }
      ul {
        padding: 5px;
        margin-top: 50px;
        li {
          .card {
            margin: 10px auto;
            padding: 15px;
            width: 80%;
            background-color: white;
            border: solid 1px white;
            border-radius: 10px;
            box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
            .lp-sub__card-title {
              font-size: 22px;
            }
            i {
              display: block;
              margin-top: 30px;
              margin-bottom: 30px;
              font-size: 50px;
            }
            .lp-sub__card-sentence {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .lp-third {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 1px $color-white;
    .lp-third__container {
      .lp-third__title {
        font-size: 28px;
        margin-bottom: 40px;
      }
      .lp-third__img-container {
        max-width: 960px;
        margin: 0 auto;
        .lp-third__img-container--left {
          text-align: center;
          img {
            width: 300px;
          }
        }
        .lp-third__img-container--right {
          margin-top: 60px;
          p {
            font-size: 16px;
          }
          span {
            font-weight: 600;
            line-height: 50px;
          }
        }
      }
    }
  }
  .lp-invite {
    padding-top: 50px;
    padding-bottom: 50px;
    .lp-invite__container {
      text-align: center;
      .lp-invite__title {
        font-size: 24px;
        margin-bottom: 30px;
      }
      .lp-invite__button {
        input {
          padding: 12px;
          font-size: 16px;
          color: white;
          background-color: $color-blue;
          border: solid 1px $color-white;
          border-radius: 5px;
        }
        input:hover {
          color: white;
          transition: background-color 0.2s;
          background-color: $color-green;
          border-color: $color-green;
        }
      }
    }
  }
}

//users/basicsフォルダ
// ユーザー詳細ページ(show)
.user-information {
  margin: 0 auto;
  h4 {
    margin-top: 8px;
    font-size: 25px;
  }
  .user-profile {
    .user-profile__picture {
      text-align: center;
      img {
        width: 128px;
        height: 128px;
        border: solid 1px $color-white;
        border-radius: 50%;
      }
    }
    .user-profile__edit {
      display: flex; // 編集ボタンを横並びで右寄せ
      justify-content: flex-end;
      padding: 6px 0;
      a {
        display: inline-block;
        padding: 4px 10px;
        margin: 4px;
        font-size: 15px;
        border-radius: 12px;
        color: white;
        background-color: $color-blue;
        &:hover {
          text-decoration: none;
        }
      }
      // プロフィール編集リンク
      .user-profile__edit-profile {
        a {
          color: $color-blue;
          background-color: $color-white;
        }
      }
    }
    // メッセージルーム入室ボタン
    .user-profile__room-link {
      display: flex;
      justify-content: flex-end;
      padding-top: 6px;
      padding-bottom: 6px;
      input {
        padding: 4px 10px;
        font-size: 15px;
        border-radius: 12px;
        color: white;
        background-color: $color-blue;
        border: solid 1px $color-blue;
      }
    }
    // ユーザーの所属と自己紹介文
    .user-profile__details {
      display: flex;
      padding: 12px 0px;
      border-top: solid 1px $color-white;
      border-bottom: solid 1px $color-white;
      h5 {
        font-size: 15px;
        font-weight: 600;
      }
      .user-profile__details--left {
        width: 50%;
        padding: 0 12px;
        border-right: solid 1px $color-white;
        .user-profile__detail {
          margin-bottom: 16px;
        }
      }
      // プロフィール文
      .user-profile__details--right {
        width: 50%;
        padding: 0 12px;
        h5 {
          margin-bottom: 24px;
        }
      }
    }
  }
}
.user-question {
  padding-top: 36px;
}

//users/roomsフォルダ
//index
.room-list {
  border: 1.5px solid grey;
  background-color: silver;
  ul > li {
    padding: 5px;
    display: flex;
    border-bottom: 1px solid black;
    .room-list__image {
      img {
        width: 50px;
        border-radius: 50%;
        vertical-align: middle;
      }
    }
    .room-list__text {
      p {
        font-size: 14px;
      }
    }
  }
}
//show
.message-field {
  padding: 12px 14px;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid lightgrey;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  // 自分のメッセージ
  .right-message {
    text-align: right;
    .message-field__content {
      flex-direction: row-reverse;
      .message-field__message {
        // 吹き出し以上、ヘッダー以下に配置
        z-index: 2;
        p {
          text-align: left;
        }
      }
      .message-field__created_at {
        margin-right: 10px;
      }
    }
  }
  // 相手のメッセージ
  .left-message {
    text-align: left;
    .message-field__content {
      .message-field__profile {
        margin-right: 15px;
      }
      .message-field__message {
        position: relative;
        z-index: 2;
        background-color: $color-white;
      }
      // 吹き出し
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 48px;
        width: 0;
        height: 0;
        transform: rotate(-50deg);
        border-radius: 50%;
        border-left: 16px solid $color-white;
        border-bottom: 16px solid $color-white;
        border-top: 16px solid transparent;
        border-right: 16px solid transparent;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        left: 46px;
        z-index: 1;
        width: 0;
        height: 0;
        transform: rotate(-50deg);
        border-radius: 50%;
        border-left: 16px solid #fff;
        border-bottom: 16px solid #fff;
        border-top: 16px solid transparent;
        border-right: 16px solid transparent;
      }
      .message-field__created_at {
        margin-left: 10px;
      }
    }
  }
  .message-field__content {
    padding: 0;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
    word-wrap: break-word;
    .message-field__profile {
      margin-bottom: 8px;
      img {
        width: 44px;
        border: 1px solid lightgrey;
        border-radius: 50%;
      }
    }
    .message-field__message {
      padding: 8px;
      max-width: 80%;
      border-radius: 12px;
      background-color: lightskyblue;
      p {
        margin: 0;
        font-size: 15px;
      }
      img {
        width: 80px;
        height: 100px;
      }
    }
    .message-field__menu {
      padding-top: 4px;
      padding-bottom: 4px;
      display: none;
      position: fixed;
      width: 100px;
      text-align-last: left;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      input {
        padding-right: 12px;
        padding-left: 12px;
        width: 100%;
        border: none;
        color: #666;
        background-color: #fff;
        &:hover {
          color: #fff;
          background-color: #136fff;
        }
      }
    }
  }
  #popup-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background: #000;
    opacity: 0.5;
  }
  #popup-item {
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 1001;
  }
}
.post-field {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 0px 0px 5px 5px;
  .post-field__picture {
    margin-right: 10px;
    label {
      margin: 0;
      vertical-align: middle;
      cursor: pointer;
      i {
        font-size: 22px;
        color: lightskyblue;
      }
      .too-many-files {
        color: #ff0000;
      }
    }
  }
  .post-field__textarea {
    width: 80%;
    textarea {
      width: 100%;
      height: 2em;
      resize: none;
      overflow: hidden;
      border-color: lightskyblue;
      border-radius: 5px;
      outline: none;
    }
  }
  .post-field__submit {
    margin-left: 10px;
    button {
      border: none;
      padding: 0;
      margin-left: auto;
      background-color: transparent;
    }
    i {
      font-size: 22px;
      color: lightskyblue;
      background-color: none;
    }
  }
}
