<% provide(:title, "あなたの回答") %>

<div class="answer-list">
  <h4>あなたの回答</h4>

  <% if @comment_lists.blank? %>
    <p>まだ質問に回答していません</p>
  <% else %>
    <% @comment_lists.each do |comment_list| %>
      <%= link_to(questions_post_path(comment_list.post)) do %>
        <div class="answer-list__info">
          <%# 回答した質問の通知の有無を表示 %>
          <% if comment_list.post.check_notice(current_user) == true %>
            <p class="has-notice"></p>
          <% end %>
          <div class="answer-list__questioner-image"><%= image_tag asset_path(comment_list.post.user.profile_picture) %></div>
          <div class="answer-list__questioner-name"><%= comment_list.post.user.name %></div>
          <div class="answre-list__post-title"><%= comment_list.post.title %></div>
          <% if comment_list.notice == true %>
            <p>新着のメッセージがあります</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
